@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* ***** Colors ***** */
    --body-color: #;
    --sidebar-color: #;
    --primary--color: #;
    --toogle-color: #;
    --text-color: #;

    /* ***** Transitions ***** */
    --trans-02: ;
    --trans-03: ;
    --trans-04: ;
    --trans-05: ;
}