@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Poppins';
}

body{
    /* font-family: sans-serif; */
    background-color: #e5e5e5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app{
    background-color: #04b8a0;
    width: 100%;
    height: 100%;
    margin: 0;
    /* margin: 100px 150px; */
    border: 5px solid #04b8a0;
    border-radius: 8px;
    padding: 8px;
    /* background-color: #fff; */
    overflow-y: scroll;
    /* gap: 1px; */
}

.app::-webkit-scrollbar{ width: 0 !important }

#addNew{
    display: flex;
    background-color: rgba(171, 206, 161, 0.35);
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.fa-plus{
    background-color: #abcea1;
    padding: 3px;
    border-radius: 3px;
}

#tasks{
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: 15% 15% 15% 15% 15% 15%                                                                                         ; */
    justify-content: flex-start;
    gap: 6px;
}

#tasks div{
    /* min-width: 60px; */
    /* padding: 10px; */
    /* margin: 10px auto; */
    background-color: #e2eede;
    border: 3px solid #abcea1;
    padding: 10px;
    border-radius: 8px;
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px;
}

.options{
    justify-self: center;
    display: flex;
    gap : 12px;
}

.options i{
    cursor: pointer;
}

#msg{
    color: red;
}

#blink {
    /* animation: blinker 1s linear infinite; */
    /* width:200px;
    height: 200px; */
    background: red;
    -webkit-animation: fadeinout 3s linear forwards;
    animation: fadeinout 3s linear forwards;
  }

#blink div{
    background-color: #ff002b;
    border: none;
    color: #e2eede;
}
@keyframes blinker {
    0% {opacity: 0}
	49%{opacity: 0}
	50% {opacity: 1}
}

@-webkit-keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
  
@keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}

@media only screen and (max-width: 575px) {
    .app {
      background-color: #04b8a0;
      margin-top: 45%;
      /* padding-top: 25%; */
      /* padding-block-start: 45%; */
    }
  }