body{
    font-family: sans-serif;
    background-color: #e5e5e5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app{
    width: 880px;
    height: 600px;
    border: 5px solid #04b8a0;
    border-radius: 8px;
    padding: 15px;
    background-color: #fff;
    overflow-y: scroll;
}

.app::-webkit-scrollbar{ width: 0 !important }

#addNew{
    display: flex;
    background-color: rgba(171, 206, 161, 0.35);
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.fa-plus{
    background-color: #abcea1;
    padding: 3px;
    border-radius: 3px;
}

#tasks{
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 15%                                                                                         ;
    justify-content: space-between;
    gap: 8px;
}

#tasks div{
    background-color: #e2eede;
    border: 3px solid #abcea1;
    padding: 5px;
    border-radius: 6px;
    display: grid;
    gap: 4px;
}

.options{
    justify-self: center;
    display: flex;
    gap : 12px;
}

.options i{
    cursor: pointer;
}

#msg{
    color: red;
}

#blink {
    animation: blinker 1s linear infinite;
    
  }

#blink div{
    background-color: #ff002b;
    border: none;
    color: #e2eede;
}
@keyframes blinker {
    0% {opacity: 0}
	49%{opacity: 0}
	50% {opacity: 1}
  }